@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto ASP.NET com MVC</h1>
    <p>Clique em Contatos no menu para encontrar a lista de contatos.</p>
</div>
